<div *ngIf="errorMsg" class="alert alert-danger    mt-2 mt-lg-3    ml-2 ml-lg-3    mb-0    mr-2 mr-lg-3" role="alert">
    <strong>Oh snap!</strong> {{errorMsg}}
</div>

<div class="thead">
    <div class="row">
        <div class="col-5 font-1">
            Cryptocurrency
        </div>
        <div class="col-3 font-1 text-right sortable" (click)="changeSort('market_cap')">
            Market Cap<i [ngClass]="{'sort-asc': sort.type == 'asc', 'sort-desc': sort.type == 'desc'}" *ngIf="sort.column == 'market_cap'"></i>
        </div>
        <div class="col-2 font-1 text-right sortable" (click)="changeSort('price')">
            Price<i [ngClass]="{'sort-asc': sort.type == 'asc', 'sort-desc': sort.type == 'desc'}" *ngIf="sort.column == 'price'"></i>
        </div>
        <div class="col-2 font-1 text-right sortable" (click)="changeSort('percent_change_24h')">
            24h Change<i [ngClass]="{'sort-asc': sort.type == 'asc', 'sort-desc': sort.type == 'desc'}" *ngIf="sort.column == 'percent_change_24h'"></i>
        </div>
    </div>
</div>
<div class="tbody">
    <div class="row" *ngFor="let currency of cryptocurrencies;">
        <div class="col-5">
            <span class="coin-rank font-1">{{currency.rank}}</span>
            <img class="logo" alt="{{currency.name}} logo" class="coin-icon" src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{currency.id}}.png"> {{currency.name}}
        </div>
        <div class="col-3 text-right">{{currency.market_cap | currency:'USD':true:'1.0-0'}}</div>
        <div class="col-2 text-right">{{formatPrice(currency.price)}}</div>
        <div class="col-2 text-right" [ngClass]="{'text-danger' : (currency.percent_change_24h < 0), 'text-success' : (currency.percent_change_24h > 0)}">
            {{currency.percent_change_24h | number:'1.2-2'}}%
        </div>
    </div>
</div>